.header{
  display: flex;
  justify-content: space-between;
  margin: 50px 100px 0 100px; 
}
.listPages{
  display: flex;
  gap: 30px;
  list-style: none;
}
.main{
  margin: 50px 100px 0 100px;
}
.taskList{
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 30px ;
}
.taskList li {
  padding: 10px 5px;
  margin: 5px 0;
  background-color: #e3e5e9;
}
.link{
  text-decoration: none;
}
.footer{
  display: flex;
  justify-content: space-between;
  margin: 50px 100px 0 100px;
  position: fixed;
  bottom: 0;
  width: 90%;
}
.form input{
  padding: 10px 5px;
  width: 95%;
}
.form button{
  padding: 10px 20px;
}